*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
   font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #000 url('img/table-933575_1920.jpg');
    background-size: cover;
    background-attachment: fixed;

}

.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

header{
    width: 100%;
    padding: 60px, 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 30px;
}
 
.contenedor header .logo img {
   width: 200px;
}

header .menu a{
    color: white;
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    padding: 20px 0;
    margin-bottom: 40px;
}

header .menu a:hover{
    text-decoration: underline;
}

.main{
    background: #fff;
    padding: 20px;
    width: 70%;
}

.main article .thumb{
    margin-bottom: 20px;
}

.main article .thumb img{
    width: 100%;
    vertical-align: top;

}

.main article h2{
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 32px;
}

.main article p{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 27px;
}

aside{
    width: 30%;
    background: #537dca;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}
aside .ad{
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 50px 0;
    background: #4264a2;
    
    
}


footer{
    margin: 20px 0;
    background: rgba(255,255,255,.2);
    padding: 20px;
   width: 100%;
   color: #fff;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;

}

footer .redes-sociales a{
  color: #fff;
  text-decoration: underline;
  margin-left: 20px;
}

footer .redes-sociales a:hover{
    text-decoration: none;
    color: #4264a2;
}

@media screen  and (max-width:800px){
    .main{
        width: 100%;
    }

    aside{
        width: 100%;
        flex-direction: row;
    }

    aside .ad{
        width: 40%;
    }
}

@media screen  and (max-width:700px){
  header{
    flex-direction: column;
    padding: 20px;
  }

  header .menu{
    width: 100%;
    background: rgba(255,255,255,.2);
    padding: 20px;
    text-align: center;
  }
  header .menu a{
    padding:  0 20px;
  }


  header .logo{
    margin: 20px;
  }
  footer{
    flex-direction: column;
    text-align: center;
  }
  footer .autor{
    order: 2;
  }
  footer .redes-sociales{
    order: 1;
    margin-bottom: 20px;
  }
}
@media screen  and (max-width:400px){
   
    
    header .menu{
        width: 100%;
        padding: 15px;
        
      }

      header .menu a{
        padding:  10px 0 ;
        font-size: 15px;
      }

    aside{
        display: none;
    }
}