* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #4a465b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    
}

.contenedor{
    width: 90%;
    margin: 20px auto;
    overflow: hidden;
    max-width: 1000px;
}

header{
    background: white
}

header nav{
 width: 100%;
}

header nav ul{
    width: 100%;
    list-style: none;
}
header nav ul li{
   display: inline-block;
}

header nav ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    background: white;
    color: black;
}

header nav ul li a:hover{
    background: black;
    color: white; 
     
}

.main{
    width: 70%;
    background: white;
    float: left;
}

.main .imagen{
    width: 100%;

}

.main .imagen img{
    width: 100%;
    vertical-align: top;
}

.main .post{
    padding: 40px;
}

.main .post article h2{
    color: #4a465b;
    margin-top: 10px;
    text-align: center;
}

.main .post article p{
    margin-top: 15px;
    color: rgb(16, 15, 15);
    text-align: justify;
    line-height: 27px;
}

aside{
    width: 30%;
    background: #161f26;
    padding: 20px;
    color: white;
    float: left;
}
aside .widget{
    margin-bottom: 20px;
}

aside .widget .titulo{
    text-align: center;
    color: #ff8000;
    margin-bottom: 10px;
    border-bottom:  1px solid #ff8000 ;
}
aside .widget ul{
    list-style: none;
}

aside .widget ul li {
    border-bottom: 1px solid rgba(255,255,255,0.2);
    padding: 10px 0;
}

aside .widget ul li a{
    text-decoration: none;
    color: white;
}

aside .widget ul li a:hover{
    color: #8f8f8f;
    font-size: 18px;
}

aside .widget p{
    text-align: justify;
    color: aliceblue;
    line-height: 27px;

}

footer{
    width: 100%;
    clear: both;
    background: black;
    color: white;
    padding: 25px 0;
    text-align: center;
    max-width: 1000px;
}

footer:hover{
    font-size:18px;
}

@media screen and (max-width:800px) {   
        .main{
            width: 100%;
        }
        aside{
            width: 100%;
        }
        footer{
            width: 100%;
        }
}


@media screen and (max-width:400px) {   
    .main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    footer{
        width: 100%;
    }

    header nav ul li a{
        padding: 10px 15px;
        font-size: 10px;
    }

    
}




@media screen and (max-width:500px) {   
    .main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}

@media screen and (max-width:300px) {   
    .main{
        width: 100%;
    }
    aside{
        width: 100%;
    }
    footer{
        width: 100%;
    }
}







